*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, sans-serif;
    color: var(--title-color);
}

html {
    font-family: Roboto, sans-serif;
}

#page-home {
    height: 100vh;
    background: url('../img/home-background.svg') no-repeat;
    background-position: 35vw bottom;
}

#page-point {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
}

a {
    display: flex;
    color: #322153;
    font-weight: 700;
    text-decoration: none;
}

header a span {
    background-image: url('../img/log-in.svg');
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

#create {
    background-image: url('../img/arrow-left.svg');
}

.content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#page-home main {
    max-width: 560px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    background: white;
    padding: 64px;
    margin: 48px auto;
    max-width: 730px;
}

form fieldset {
    border: none;
    margin-top: 64px;
}

form legend {
    margin-bottom: 45px;
}

.itens-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.itens-grid li {
    background: #f5f5f5;
    list-style: none;
    display: flex;
    flex-direction: column;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

.itens-grid span {
    margin-top: 12px;
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--title-color);
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.grow1 {
    flex-grow: 2;
}

.field-group {
    display: flex;
}

input, select{
    background: grey;
    color: white;
    padding: 18px 24px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
}

.field + .field {
    margin-left: 18px;
}

main h1 {
    font-size: 54px;
}

main p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

main button {
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background: var(--primary-color);
    transition: 400ms;
    font-weight: bold;
    color: white;
}

form button {
    margin-top: 48px;
    width: 280px;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    border: none;
    background: var(--primary-color);
    font-weight: bold;
    color: white;
    font-size: medium;
    text-align: center;
}

main button:hover {
    background: #2fb86e;
}

main button span {
    width: 72px;
    height: 72px;
    background: rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}

main button span::after{
    content: "";
    background-image: url('../img/search.svg');
    width: 20px;
    height: 20px;
}
main button strong {
    flex: 1;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 900px){
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }
}

@media (min-width: 1700px){
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px){
    #page-home {
        background-position-y: 200px;
    }
}